
<style>
.index-two-column .link-container {
  position: relative; 
}
.index-two-column .link-container .btn-link {
  position: relative;
  display: none;
}
.index-two-column .link-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.325);
  opacity: 0;
  transition: all 500ms;
}
.index-two-column .link-container:hover::before {
  opacity: 1;
}
.index-two-column .link-container:hover .btn-link {
  display: block;
}
</style>
<section class="index-two-column d-flex flex-column flex-lg-row">
  <div class="link-container d-flex justify-content-center align-items-center" style="background-image: url('{{ section.settings.left_image | img_url: 'master' }}')">
    <a href="{{ section.settings.left_link }}" title="{{ section.settings.left_link_label }}" class="btn btn-link text-white d-flex flex-row align-items-center justify-content-center">
      <img class="mr-2" src="{{ 'subdirectory-arrow-right.svg' | asset_url }}" title="Right arrow">
      <div class="link-container_label">{{ section.settings.left_link_label }}</div>
    </a>
  </div>
  <div class="link-container d-flex justify-content-center align-items-center" style="background-image: url('{{ section.settings.right_image | img_url: 'master' }}')">
    <a href="{{ section.settings.right_link }}" title="{{ section.settings.right_link_label }}" class="btn btn-link text-white d-flex flex-row align-items-center justify-content-center">
      <img class="mr-2" src="{{ 'subdirectory-arrow-right.svg' | asset_url }}" title="Right arrow">
      <div class="link-container_label">{{ section.settings.right_link_label }}</div>
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Two Column",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Column Image"
    },
    {
      "type": "url",
      "id": "left_link",
      "label": "Left Column Link"
    },
    {
      "type": "text",
      "id": "left_link_label",
      "label": "Left Column Link Label"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Column Image"
    },
    {
      "type": "url",
      "id": "right_link",
      "label": "Right Column Link"
    },
    {
      "type": "text",
      "id": "right_link_label",
      "label": "Right Column Link Label"
    }
  ],
  "presets": [
    {
      "name": "Two Column",	
      "category": "Layout"
    }
  ]
}
{% endschema %}