

<section class="cta-container d-flex flex-column justify-content-center align-items-center text-white text-center" style="background-image: url('{{ section.settings.background_image | img_url: 'master' }}')">
  <h2 class="pb-4 font-weight-normal">{{ section.settings.title }}</h2>
  <div class="body-large pb-4">{{ section.settings.description }}</div>
  <a href="{{ section.settings.call_to_action }}" title="{{ section.settings.call_to_action_label }}" class="btn btn-link text-white d-flex flex-row align-items-center justify-content-center">
    <img class="mr-2" src="{{ 'subdirectory-arrow-right.svg' | asset_url }}">
    <div>{{ section.settings.call_to_action_label }}</div>
  </a>
</section>

{% schema %}
{
  "name": "Full Width",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "url",
      "id": "call_to_action",
      "label": "Call to Action Link"
    },
    {
      "type": "text",
      "id": "call_to_action_label",
      "label": "Call to Action Label"
    }
  ],
  "presets": [
    {
      "name": "Full Width",	
      "category": "Layout"
    }
  ]
}
{% endschema %}