
{% section 'back-btn' %}

<section class="faq-page py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="faq_menu">
          <h1 class="page-heading-sm">
            {{ "faq.sidebar.title" | t }}
          </h1>
          <ul class="sidebar-list">
            {% for link in linklists['faq-page-menu'].links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% comment %}
      <div class="col-md-8">
        {{ page.content }}
        {% if page.url == '/pages/faq-returns' %}
          <iframe src="https://services.alveo.io/portal/?&amp;shop={{ site.url }}/a/returns" width="100%" marginheight="0" frameborder="0" height="512px"></iframe>
        {% endif %}
      </div>
      {% endcomment %}
    </div>
  </div>
</section>

{% include 'back-to-top-dark' %}
