
<section id="music-unity">
  <a id="btn-back" class="btn back-btn d-flex flex-row align-items-center" href="#">
    <img class="moving-left mr-3" src="{{ 'arrow-round-back_primary-pink.svg' | asset_url }}" alt="Back arrow">
    <div>Back</div>
  </a>
  <h1 class="text-center my-5">P448 Music Unity</h1>

  <div class="d-flex flex-column flex-lg-row w-100 header-container no-gutters">
    <div class="col"><img src="{{ 'album_2.jpg' | asset_url }}" alt="Music Unity Image 1"></div>
    <div class="description-container col">
      <h2 class="h5 mb-4">M x P448 - When I was a child</h2>
      <p class="body-small">03 04 2020</p>
      <p class="body-small">Let’s begin with some things you may not know about P448 designer, Marco. Music is his time machine. One song - the lyrics, the melody, the mood – can take him back to a moment in time like nothing else can. This playlist combines his favorite throwback songs to jam to and lyrics for the soul. To step into his world, just press play.</p>
    </div>
    <div class="col">
      <img src="{{ 'album_2.jpg' | asset_url }}" alt="Music Unity Image 2">
      <div class="spotify-player">
        <iframe src="https://open.spotify.com/embed/user/83k97cv1y9tq2rpnbqwxc8dqw/playlist/5Ea2q128GTM6RKpYGf8Mv0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>

  <h3 class="h1 text-center my-5">Latest release</h3>
  <div class="album-list row align-items-center">
    <div class="album-tile d-column col-12 col-sm-6 col-lg-3" href="#">
      <a href="/pages/music-unity">
        <img class="album-img" src="{{ 'album_1.jpg' | asset_url }}" alt="Album 1">
      </a>
      <div class="d-flex flex-row justify-content-between align-items-center mt-2">
        <p class="album-title">Music Unity</p>
        <a class="btn btn-link d-flex flex-row align-items-center" href="https://open.spotify.com/user/83k97cv1y9tq2rpnbqwxc8dqw/playlist/07zIJJc7CHunH3W7ibBDNv?si=R7yr70YrSr2zZlZm8BjqtQ" target="_blank">
          <img class="mr-2" src="{{ 'subdirectory-arrow-right_black.svg' | asset_url }}" alt="Right arrow" height="10px">
          <div>Listen on Spotify</div>
        </a>
      </div>
    </div>

    <div class="album-tile col-12 col-sm-6 col-lg-3">
      <a href="/pages/when-i-was-a-child">
        <img class="album-img" src="{{ 'album_2.jpg' | asset_url }}" alt="Album 2">
      </a>
      <div class="d-flex flex-row justify-content-between align-items-center mt-2">
        <p class="album-title">M x P448</p>
        <a class="btn btn-link d-flex flex-row align-items-center" href="https://open.spotify.com/user/83k97cv1y9tq2rpnbqwxc8dqw/playlist/5Ea2q128GTM6RKpYGf8Mv0?si=WPv0tlErTtyQ-HlX8ZJLvw" target="_blank">
          <img class="mr-2" src="{{ 'subdirectory-arrow-right_black.svg' | asset_url }}" alt="Right arrow" height="10px">
          <div>Listen on Spotify</div>
        </a>
      </div>
    </div>

    <div class="album-tile col-12 col-sm-6 col-lg-3">
      <a href="/pages/50-states-of-rhythm">
        <img class="album-img" src="{{ 'album_3.jpg' | asset_url }}" alt="Album 3">
      </a>
      <div class="d-flex flex-row justify-content-between align-items-center mt-2">
        <p class="album-title">J x P448</p>
        <a class="btn btn-link d-flex flex-row align-items-center" href="https://open.spotify.com/user/83k97cv1y9tq2rpnbqwxc8dqw/playlist/2x49ZizvVtza3kHVbGGbTV?si=ueBAvUFkSwaCbPZ3GuU4Bg" target="_blank">
          <img class="mr-2" src="{{ 'subdirectory-arrow-right_black.svg' | asset_url }}" alt="Right arrow" height="10px">
          <div>Listen on Spotify</div>
        </a>
      </div>
    </div>

    <div class="album-tile col-12 col-sm-6 col-lg-3">
      <a href="/pages/vibes">
        <img class="album-img" src="{{ 'album_4.jpg' | asset_url }}" alt="Album 4">
      </a>
      <div class="d-flex flex-row justify-content-between align-items-center mt-2">
        <p class="album-title">Music Vibes</p>
        <a class="btn btn-link d-flex flex-row align-items-center" href="https://open.spotify.com/user/83k97cv1y9tq2rpnbqwxc8dqw/playlist/5tag55aiyinReAcDIzBrbE?si=mhnhcWewTPmxmKVLQe8HLQ" target="_blank">
          <img class="mr-2" src="{{ 'subdirectory-arrow-right_black.svg' | asset_url }}" alt="Right arrow" height="10px">
          <div>Listen on Spotify</div>
        </a>
      </div>
    </div>

  </div>

</section>

{% include 'back-to-top-dark' %}
