
<section id="music-unity_v2">
  <a id="btn-back" class="btn back-btn d-flex flex-row align-items-center" href="#">
    <img class="moving-left mr-3" src="{{ 'arrow-round-back_primary-blue.svg' | asset_url }}" alt="Back arrow">
    <div>Back</div>
  </a>
  <h1 class="text-center my-5">World of P448 — Music Unity</h1>
  <div class="d-flex flex-column flex-lg-row w-100 header-container no-gutters w-100">
    <div class="col-12 col-lg-6">
      <img class="main-album-img" src="{{ 'music_unity_1@2x.jpg' | asset_url }}" alt="Music Unity Image 1">
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
      <div class="description-container">
        <h2 class="h5 mb-4">P448 Music Unity</h2>
        <p class="body-small mt-4">26 03 2020</p>
        <p class="body-small">P448 MUSIC UNITY is the first compilation of a music series curated by our P448 design team. Similar to the fusion of personalities we bring to our sneaker designs, each playlist is built around the team’s combination of unique passions & music tastes.</p>
        <p class="body-small">Check out our designers’ favorite beats, curated just for you and made to lift your spirits.</p>
      </div>
      <div class="col player-container" style="background-image: url('{{ 'music_player@2x.jpg' | asset_url }}')">

      </div>
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="album-item"><img class="album-img" src="{{ 'album_1.jpg' | asset_url }}" alt="Album 1"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_2.jpg' | asset_url }}" alt="Album 2"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_1.jpg' | asset_url }}" alt="Album 1"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_4.jpg' | asset_url }}" alt="Album 4"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_3.jpg' | asset_url }}" alt="Album 3"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_4.jpg' | asset_url }}" alt="Album 4"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_2.jpg' | asset_url }}" alt="Album 2"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_1.jpg' | asset_url }}" alt="Album 1"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_4.jpg' | asset_url }}" alt="Album 4"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_2.jpg' | asset_url }}" alt="Album 2"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_1.jpg' | asset_url }}" alt="Album 1"></div>
    <div class="album-item"><img class="album-img" src="{{ 'album_3.jpg' | asset_url }}" alt="Album 3"></div>
  </div>
</section>

{% include 'back-to-top' %}
   